<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops - Error 500</title>
</head>

<body>
    <%- include("../../../static/partials/favicon") %> 
    <%- include("../../../static/partials/styles") %>
        <%- include("../../../static/partials/loading") %>

            <div class="container error">
                <h1>500</h1>
                <p>Algo no funcionó</p>
                <p>No te preocupes, es culpa nuestra.</p>
                <br>
                <a class="show-link" href="/">Volver al Inicio</a>
            </div>
</body>

</html>